@use './components/global/functions' as *;
@use './components/global/mixins';
@use './todo-app-item';

.todo-app {
  background-color: rgb(247, 247, 247);
  box-shadow: 5px 6px 24px -5px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 5px 6px 24px -5px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 5px 6px 24px -5px rgba(0, 0, 0, 0.67);

  .item-input {
    display: flex;

    .input-box {
      width: 100%;
      padding: su();
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid rgb(197, 197, 197);
    }
  }

  &__items {
    > * + * {
      border-top: 1px solid rgb(197, 197, 197);
    }
  }

  &__footer {
    border-top: 1px solid rgb(197, 197, 197);
    display: flex;
    flex-wrap: wrap;

    .remaining-items {
      width: 100%;
      padding: su();
      color: #777;
      order: 2;

      @include mixins.media-breakpoint-up(sm) {
        width: 25%;
        order: 1;
      }
    }

    .filters {
      width: 100%;
      text-align: center;
      padding: su();
      order: 1;

      &__item {
        color: #777;
        text-decoration: none;
        padding-left: su(0.5);
        padding-right: su(0.5);

        &:active, &--selected {
          border: 1px solid rgb(87, 87, 87);
        }
      }

      @include mixins.media-breakpoint-up(sm) {
        width: 50%;
        order: 2;
      }
    }

    .clear-list {
      width: 100%;
      padding: su();
      order: 3;

      a {
        color: #777;
        text-decoration: none;
      }

      @include mixins.media-breakpoint-up(sm) {
        width: 25%;
        text-align: right;
      }
    }
  }
}
