@use './components/global/functions' as *;
@use './components/global/mixins';

.page-home {
  background: #fff;
  padding: su();

  @include mixins.media-breakpoint-up(sm) {
    background: #ddd;
    padding: su(2);
  }

  @include mixins.media-breakpoint-up(md) {
    background: #bbb;
    padding: su(4);
  }

  @include mixins.media-breakpoint-up(lg) {
    background: #999;
    padding: su(6);
  }

  @include mixins.media-breakpoint-up(xl) {
    background: #777;
    padding: su(8);
  }

  @include mixins.media-breakpoint-up(xxl) {
    background: #555;
    padding: su(10);
  }
}
